<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
  <table>
      <thead>
            <tr>
                <th>키워드</th>
                <th>가중치</th>
                <th>클러스터</th>
            </tr>
      </thead>
      <tbody>
            <tr th:each="dongjun : ${list}">
                <td th:text="${dongjun.keyword}">1</td>
                <td th:text="${dongjun.weight}">222</td>
                <td th:text="${dongjun.cluster}">33333</td>
            </tr>
      </tbody>
    
  </table>
</body>
</html>